* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #0faa35;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: rgb(247, 240, 240);
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-color: rgb(140, 226, 169);
}

.banner-area h2 {
	font-family: poppins;
	letter-spacing: 50px;
	padding-top: 140px;
	font-size: 100px;
	margin: 0;
}

.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 1500px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .targeta{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .targeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #0faa35;
}

.container .targeta img{
    width: 350px;
    height: 200px;
}


.container .targeta h4{
    font-weight: 600;
}

.container .targeta p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .targeta b {
	width: 20px;
	height: 20px;
}
.container .targeta a {
    font-weight: 500;
    text-decoration: none;
    color: #0faa35;
}